
.sectionc{
  text-align: center;
  background-color: #d3d3d3;
}
#team{
 background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/65/79/475788bc11dc678.jpg"); 
 background-repeat: no-repeat;
 background-size: cover;
 
}
.teamr{
 flaot: left; 
}
.cimgl{
  border-radius: 50%;
  border: 5px solid whitesmoke;
  height:20%;
  width: 20%;
  float: left;
}
.cimgr{
  border-radius: 50%;
  border: 5px solid whitesmoke;
  height:20%;
  width: 20%;
  float: right;
}
.cimgc{
  border-radius: 50%;
  border: 5px solid whitesmoke;
  height:20%;
  width: 20%;
  float: center;
}

#header{
   text-align: center;
   color: honeydew;
   background-color: firebrick;
}
