
.sectionc{
  text-align: center;
  background-color: #d3d3d3;
}
#team{
 background-color: #0000FF; 
}
.teamr{
 flaot: left; 
}
.cimgl{
  border-radius: 50%;
  border: 5px solid whitesmoke;
  height:20%;
  width: 20%;
  float: left;
}
.cimgr{
  border-radius: 50%;
  border: 5px solid whitesmoke;
  height:20%;
  width: 20%;
  float: right;
}
.cimgc{
  border-radius: 50%;
  border: 5px solid whitesmoke;
  height:20%;
  width: 20%;
  float: center;
}

#header{
   text-align: center;
   color: honeydew;
   background-color: firebrick;
}
